<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="#" />
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <title>Bot Analyzer Express</title>
</head>

<body>
  <div id="plot"></div>

  <!-- <h1>
    <%= mensaje %>
  </h1>

  <div class="container">
    <p><strong>Abcisa</strong><span id="Abcisa"></span></p>
    <p><strong>Ordenada1: </strong><span id="Ordenada1"></span></p>
    <p><strong>Ordenada2: </strong><span id="Ordenada2"></span></p>
  </div> -->

  <script>
    function plot(xdata, ydata, zdata) {
      let x = xdata;
      let y1 = ydata;
      let y2 = zdata;

      var trace1 = {
        x: xdata,
        y: ydata,
        name: 'prices',
        mode: 'lines+markers',
        type: 'scatter'
      };

      var trace2 = {
        x: xdata,
        y: zdata,
        name: 'operations',
        //yaxis: 'y2',
        mode: 'markers',
        type: 'scatter'
      };

      var data = [trace1, trace2];

      var layout = {
        title: 'Bot trailing and ban analyze',
        yaxis: { title: 'asset prices' },
        yaxis2: {
          title: 'operations',
          titlefont: { color: 'rgb(148, 103, 189)' },
          tickfont: { color: 'rgb(148, 103, 189)' },
          overlaying: 'y',
          side: 'right'
        }
      };
      Plotly.newPlot('plot', data, layout);
    }


  </script>


  <script>
    fetch('./data')
      .then(response => response.json())
      .then(json => {
        // const abcisa = document.getElementById('Abcisa');
        // abcisa.innerText = json.xdata;

        // const ordenada1 = document.getElementById('Ordenada1');
        // ordenada1.innerText = json.ydata;

        // const ordenada2 = document.getElementById('Ordenada2');
        // ordenada2.innerText = json.zdata;

        plot(json.xdata, json.ydata, json.zdata);
        console.log(json.xdata, json.ydata, json.zdata);
      });
  </script>
</body>